emacs/.config/emacs/elpa/*
emacs/.config/emacs/eln-cache/*
emacs/.config/emacs/elpa/*
emacs/.config/emacs/straight/
emacs/.config/emacs/tramp
emacs/.config/emacs/tutorial/
emacs/.config/emacs/var/
emacs/.config/emacs/auto-save-list/*
emacs/.config/emacs/history
emacs/.config/emacs/recentf
emacs/.config/emacs/places