/*base background color*/
@define-color bg_main rgba(25, 25, 25, 0.65);
@define-color bg_main_tooltip rgba(0, 0, 0, 0.7);

/*base background color of selections */
@define-color bg_hover rgba(200, 200, 200, 0.3);
/*base background color of active elements */
@define-color bg_active rgba(100, 100, 100, 0.5);

/*base border color*/
@define-color border_main rgba(255, 255, 255, 0.2);

/*text color for entries, views and content in general */
@define-color content_main white;
/*text color for entries that are unselected */
@define-color content_inactive rgba(255, 255, 255, 0.25);

* {
  border: none;
  font-family: "CommitMono Nerd Font Propo";
  font-weight: 100;
  font-size: 12px;
}

window#waybar {
  background: transparent;
}

.modules-right {
  padding-left: 5px;
  border-radius: 15px 0 0 15px;
  background: #000000;
}

tooltip {
  background: @bg_main_tooltip;
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;
  border-color: @border_main;
}
tooltip label {
  color: @content_main;
}

#workspaces {
  color: transparent;
  margin-right: 4px;
  margin-left: 14px;
}
#workspaces button {
  padding: 3px 3px;
  transition: all 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
}
#workspaces button.active {
  color: @content_main;
}
#workspaces button.focused {
  color: @content_main;
}
#workspaces button.urgent {
  background: rgba(255, 87, 51, 0.5);
  color: @warning_color;
}

#backlight {
  color: #eee13f;
}

#pulseaudio,
#battery,
#network,
#memory,
#power-profiles-daemon,
#cpu,
#bluetooth,
#clock {
  margin: 0 10px 0 0;
  padding: 2px 2px;
}

#power-profiles-daemon {
  margin: 0 16px 0 0;
}

#battery.good {
  color: #228b22;
}

#battery.warning {
  color: #fad104;
}

#battery.critical {
  color: #ee2e24;
}

#battery.charging {
  color: #ffffff;
}
